* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Flexo-regular";
    src: url('fonts/Flexo-Regular.ttf');
}

@font-face {
    font-family: "Flexo-medium";
    src: url('fonts/Flexo-Medium.ttf');
}

@font-face {
    font-family: "Flexo-bold";
    src: url('fonts/Flexo-Bold.ttf');
}

.header {
    width: 100vw;
    height: 62px;
    background-color: #f5f5f5;
    border-bottom: solid 2px #dedede;
}

.header-images {
    width: 70vw;
    height: 64px;
    margin: 0px auto;

}

.header-images>ul {
    list-style: none;
    height: 64px;
    overflow: hidden;
}

.shadow {
    box-shadow: 0 0 7px 1px #666666;
    margin: 0px 10px;
    background-color: #fff;
}

.two {
    padding-left: 0px !important;
}

.three {
    border-right: solid 2px #dedede;
    border-left: solid 2px #dedede;
}

.header-images>ul>li {
    display: inline-block;


    padding: 9px 10px 8px 10px;

}

.right {
    padding: 0 !important;
}

.header2 {
    width: 100vw;
    height: 87px;
    background-color: #fff;
    border-bottom: 2px solid #f0f0f0;

}

.header-container {
    width: 68vw;
    ;
    height: 87px;
    margin: 0px auto;

}

.header-container>ul {
    list-style: none;


}

.first {
    background-color: #919191 !important;
    position: relative !important;
    top: -20px !important;
}

.first>a>.content {
    color: #fff !important;
    border-radius: 0 0 0 8px !important;

}

.header-container>ul>li {
    width: 13.7%;
    height: 93px;
    text-align: center;
    display: inline-block;
    background-color: #fff;

    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    top: -3px;

}

.content {
    color: #464646;
    font-family: 'Flexo-regular';
    font-size: 14px;
}

a {
    text-decoration: none !important;
}

.animation>a>img {
    width: 20px;
    height: 22px;
    margin-bottom: 5px !important;
}

.apps {
    position: relative !important;
    top: -5px !important;
}

.second {
    border-bottom: 6px solid #E3350D;
    ;
    position: relative;
    top: -16px !important;

}

.third {
    border-bottom: 6px solid #ee6b2f;
    height: 100px !important;
    position: relative !important;
    top: -6px !important;
}

.fourth {
    border-bottom: 6px solid #e6bc2f;
}

.fifth {
    border-bottom: 6px solid #4dad5b;
    position: relative;
    top: -22px !important;
}

.sixth {
    border-bottom: 6px solid #30a7d7;
    ;
}

.seven {
    border-bottom: 6px solid #1b53ba;
    position: relative;
    top: -14px !important;
}

.intro {
    width: 100%;
    margin-top: 7px;
    background: #f0f0f0 url(images/intro-image4.png);

}

.intro-container {
    width: 1288px;
    margin: 0px auto;
    background: #fff url(images/intro-image2.png);
    position: relative;
}

.intro-images {
    width: 880px;
    margin: 0px auto;
    background-color: #fff;
    padding-top: 35px;
    /* position: relative; */
}

.right-intro {
    width: 578px;
    display: inline-block;
}

.image-content {
    width: 578px;
    height: 141px;
    /* background-color: rgb(49, 49, 49); */
    background-color: #1b53ba;
    position: relative;
    top: -4px;

}

.image-content>h3 {
    padding: 16.5px 11px 0px 22px;
    color: #fff;
    font-family: "Flexo-Medium", arial, sans-serif;
    font-size: 22px;
}

.image-content>p {
    font-family: "Roboto", arial, sans-serif;
    font-size: 100%;
    font-weight: 500;
    line-height: 20px;
    color: #30a7d7;
    margin: 8px 8px 12px 20px;
}

.intro-cards {
    margin-top: 20px;
    width: 578px;

}

.intro-card {
    width: 280px;
    display: inline-block;

    box-sizing: border-box;
}

.intro-card>img {
    width: 100%;
}

.card-content {
    width: 280px;
    background-color: rgb(133, 90, 201);
    position: relative;
    top: -4px;
}

.card-content>h3 {
    padding: 16.5px 11px 16.5px 22px;
    font-family: 'Flexo Medium';
    font-size: 24px;
    line-height: 35.5px;
    color: #fff;
    font-weight: 400;
}

.purple {
    margin-right: 14px;
}

.pink>.card-content {
    background-color: rgb(255, 144, 196);
}

.left-intro {
    width: 223px;
    display: inline-block;
    margin-left: 20px;
    /* position: absolute;
    top: 35px;
    right: 60px; */
}

.grey {
    position: relative;
    top: -30px;
}


.grey>.card-content {

    background-color: rgb(49, 49, 49);
}

.another-card {
    width: 282px;
    height: 150px;
    box-sizing: border-box;
    background-color: #666666;
    position: relative;
    border-radius: 5px;
}

.another-card>.image-container {
    width: 123px;
    height: 150px;
    display: inline-block;
}

.image-container>img {
    width: 100%;
    height: 100%;
}

.another-content {
    width: 158px;
    height: 150px;
    box-sizing: border-box;
    background-color: rgb(238, 107, 47);
    display: inline-block;
    position: absolute;
    top: 0px;
}

.another-content>h3 {
    font-family: "Roboto", arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    color: #fff;
    margin: 8px 8px 12px 20px;

}

.large-card {
    width: 282px;
    height: 283px;
    margin-top: 20px;
    background-color: #666666;
}

.large-card>.image-container {
    width: 282px;
    height: 160px;
}

.image-container>img {
    width: 100%;
    height: 100%;
}

.large-card>.large-content {
    width: 282px;
    height: 124px;
    background-color: rgb(48, 167, 215);
}

.large-card>.large-content>h3 {
    font-family: "Roboto", arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    color: #fff;
    padding: 8px 8px 12px 20px;
}

.side-btn {
    width: 67px;
    padding-top: 16px;
    box-sizing: border-box;
    background-color: #54b564;
    position: absolute;
    left: 0px;
}

.login {
    width: 67px;
    height: 79px;
    margin: 14.3px 0px;
    margin-bottom: 0px;
    padding-bottom: 14px;
    background-color: #54b564;
    position: relative;
}

.login-btn {
    width: 40px;
    margin: 10px auto;


}

.login>.login-btn>a>img {
    width: 40px;
    height: 40px;
}

.login-btn>p {
    font-size: 10.5px;
    padding-top: 0.5px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-family: 'Flexo-bold';
}

.search {
    width: 67px;
    height: 67px;
    background-color: #dedede;
    position: relative;
}

.search-btn>img {
    width: 100%;
    height: 100%;
}

.search-btn>i {
    position: absolute;
    font-size: 25px;
    color: #fff;
    top: 20px;
    left: 20px;
}

.login>img {
    width: 100%;
    position: absolute;
    top: -40px;
    opacity: 1;
}

.featured-btn {
    margin-top: 50px;
    width: 282px;
    height: 56px;
    background-color: #232323;
    text-align: center;
}
.featured-btn > h3{
    font-family: 'Flexo-medium';
    color: rgb(145, 145, 145);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding: 11px 20px 8px 10px;
    display: inline-block;
    position: relative;
    top: -5px;
}
.featured-btn > img{
    display: inline-block;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
.featured{
    width: 1288px;
    height: 300px;
    background-color: #919191;
    margin: 0px auto;
}