* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Flexo-regular";
    src: url('fonts/Flexo-Regular.ttf');
}

.header {
    width: 100%x;
    height: 62px;
    background-color: #f5f5f5;
    border-bottom: solid 2px #dedede;
}

.header-images {
    width: 913px;
    height: 64px;
    margin: 0px auto;

}

.header-images>ul {
    list-style: none;
    height: 64px;
    overflow: hidden;
}

.shadow {
    box-shadow: 0 0 7px 1px #666666;
    margin: 0px 10px;
}

.two {
    padding-left: 0px !important;
}

.three {
    border-right: solid 2px #dedede;
    border-left: solid 2px #dedede;
}

.header-images>ul>li {
    display: inline-block;


    padding: 9px 10px 8px 10px;
    background-color: #fff;
}

.right {
    margin: 0 !important;
    padding: 0 !important;
}

.header2 {
    width: 100%;
    height: 87px;
    background-color: #fff;
    border-bottom: 2px solid #f0f0f0;

}
.header-container{
    width: 913px;;
    height: 87px;
    margin: 0px auto;
    
}
.header-container > ul{
    list-style: none;
    
}
.header-container > ul > li{
    width: 14.2%;
    height: 93px;
    text-align: center;
    display: inline-block;
    background-color: #919191;
    border-radius: 0 0 0 8px;
    padding-top: 20px;
    box-sizing: border-box;
    
}
.content{
    color: #fff;
    font-family: 'Flexo-regular'
}